@font-face{
font-family: PlayfairDisplay-Medium;
src: url("assets/fonts/PlayfairDisplay-Medium.ttf");
}
body{
    font-family: 'PlayfairDisplay-Medium';
}
*{
    box-sizing: border-box;
}
.header{
  border: 3px solid red;
}
.main{
  border: 3px solid black;
}
.footer{
  border: 3px solid green;
}
body{
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container{
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
}
.nav-list{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.nav-link{  
  padding: 0 20px;
  line-height: 50px;
}
.main-container{
  display: flex;
  flex-wrap: wrap;
}
.section{
  width: 50%;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .section{
    width: 100%;
  }
}
.photo{
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
#profile{
  text-align: center;
}
.container-left{
  width: 40%;
  color: #FFC0CB;

}
.container-right{
  width: 60%;
  padding: 3040;
}